export PREFIX="vinhbrava"
export PROFILE="${1:-default}"

export S3_BUCKET="$PREFIX-kops-vinhtest"
export AWS_REGION="us-west-2"
export NODE_SIZE="t2.small"
export MASTER_SIZE="t2.small"
export NODE_COUNT=3
export CLUSTER_NAME=vinhdemo.k8s.local
export KOPS_STATE_STORE=s3://$S3_BUCKET

export AWS_ACCESS_KEY_ID=accesskey-of-kopd-iam-user
export AWS_SECRET_ACCESS_KEY=secretkey-of-kops-iam-user
